body {
    background-color:rgb(209, 209, 209);
    width: 100%;
    height: 100%;
    overflow: hidden; /* Remove a barra de rolagem */
   
}

.centralizar {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente no eixo X */
    align-items: center; /* Centraliza verticalmente no eixo Y */
    height: 100vh; /* Preenche toda a altura da janela de visualização */
    
}

.container {
    width: 300px; /* Defina a largura desejada */
    height: 500px; /* Defina a altura desejada */
    background-color: white;
    padding: 15px; /* Reduzi o preenchimento para melhor ajustar o layout */
    border: 2px; /* Adicionei "solid" para especificar o estilo da borda */
    border-radius: 15px;
    display: flex; /* Use "flex" para organizar os elementos internos */
    flex-direction: column; /* Alinhe os elementos verticalmente */
    align-items: center; /* Centralize horizontalmente os elementos internos */
    justify-content: center; /* Centralize verticalmente os elementos internos */
    
   
}

img {
    width: 290px; /* Define a largura como 50% do tamanho original */
    height: 320px; /* Mantém a proporção da imagem */
    border-radius: 15px /* Adiciona uma borda com cantos arredondados */

}

h1 {
   font-size: 24px; 
}

p {
   font-size: 15px;
   color: rgb(119, 118, 118);
}

.challenge {
    font-size: 10px;
   color: rgb(119, 118, 118);

}

